p, h1, h2, li {
    font-family: 'Architects Daughter', cursive;
}

header, footer {
    background-color: rgb(64, 17, 107);
    color: aliceblue;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

header, footer, main {
    max-width: 650px;
    padding: 5px 30px;
}

header, body, main, footer {
    margin-left: auto;
    margin-right: auto;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 18px;
}

footer a {
    color: rgb(219, 185, 31)
}

img {
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 5px 5px  #13121244;
    margin: 40px 40px;
}

#title {
    font-family: 'The Nautigal', cursive;
    font-size: 3.5em;
    margin-top: -100px;
    
}