* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background-color: #762107;
	width: 100%;
	color: snow;
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.logo{
	background-color: snow;
	margin: 20px;
	width: 70%;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	justify-self: center;
}

.title{
	display: flex;
	flex-direction: column;
	margin: 5% 2%;
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	justify-self: start;
	align-self: center;
}

.socialMedia{
	padding: 30px 15px;
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.socialMedia img{
	width: 50px;
}

nav{
	grid-column: 1 / 6;
	grid-row: 2 / 3;
}

#navigation li{
	display: block;
	text-align: center;
}

nav ul li.active a{
	background-color: rgba(0,0,0,0.2);;
}

nav ul li a:hover {
	background-color:  rgba(0,0,0,0.3);
}

nav ul li a{
	display: block;
	font-size: 1.8rem;
	color: snow;
	padding: .8rem 2vw;
	text-decoration: none;
	border-top: 1px solid rgba(0,0,0,0.5);
}

nav button{
	margin: .2rem 2vw;
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	color: #2b0b02;

}

#date{
	background-color: rgba(0,0,0,0.2);
	color:snow;
	font-size: 1.2rem;
	width: 90%;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.4);
	grid-column: 1 / 6;
	grid-row: 3 / 4;
}
