@media only screen and (min-width: 45.5rem){
    
    nav button{
        display: none;
    }

    nav ul li a{
        border: none;
    }

    #navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 2vw;
    }


}