* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Andada Pro', serif;
}

h1, h3{
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	background: transparent;
	border: none;
}

img[data-src] {
	filter: blur(0.7em);
}

img{
	filter: blur(0em);
	transition: filter 0.5s;
}

#popup a{
	color: #1a0f7c;
	font-family: 'PT Sans', sans-serif;
}

#popup button{
	padding: 5px;
}

/*------------------------------------HEADER------------------------------------*/

header, footer{
	background-color: #762107;
	width: 100%;
	color: snow;
}

header{
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
}

header .logo{
	width: 50px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	justify-self: center;
}

.title{
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	grid-column: 2 / 6;
	grid-row: 1 / 2;
}

.socialMedia{
	grid-column: 5 / 6;
	grid-row: 2 / 3;
	display: flex;
	align-items: center;
	align-self: start;
	margin-top: 10px;
}

.socialMedia img{
	width: 50px;
	height: 50px;
}

nav{
	grid-column: 1 / 6;
	grid-row: 2 / 3;
}

.open{
	display: block;
	text-align: center;
}

nav ul{
	display: none;
}

nav ul li.active a{
	background-color: rgba(0,0,0,0.2);;
}

nav ul li a:hover {
	background-color:  rgba(0,0,0,0.3);
}

nav ul li a{
	display: block;
	font-size: 1.2rem;
	color: snow;
	padding: .8rem 2vw;
	text-decoration: none;
	border-top: 1px solid rgba(0,0,0,0.5);
}

nav button{
	font-size: 2.5rem;
	color: snow;
	text-align: right;
	margin: 10px;
}

#currentDate{
	background-color: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.2);
	font-size: 1.1rem;
	padding: 10px 0;
	text-align: center;	
	grid-column: 1 / 6;
}

/*--------------------------------------MAIN--------------------------------------*/

.item{
	background: #ecc6ba;
	width: 92%;
	margin: 10px auto;
	padding: 10px;	
}

.item h3{
	font-family: 'PT Sans', sans-serif;
	border-bottom: 1px solid rgba(0,0,0,.5);
}

.item p{
	margin: 10px 0;
	font-size: 1rem;
}

.item picture{
	width: 100%;
	height: 100%;
}

.hero{
	padding: 0;
	position: relative;
}

.hero section{
	position: absolute;
	padding: 10px 0;
	top: 0vw;
	left: 0vw;
	right: 0vw;
	background-color: rgba(0,0,0,.6);
}

.heroBackground {
	/*background-image: url("../assets/water-meeting.jpg");
	background-position: center;*/
	width: 100%;
	height: 100%;
}

.hero h1{
	color: snow;
	text-align: center;
	padding: 5px 8px;
}

.hero button{
	position: absolute;
	background-color: #ACCE22;
	font-size: 1rem	;
	border: 2px solid black;
	border-radius: 50px;
	top: 110px;
	left: 2vw;
	right: 2vw;
}

.hero button:hover{
	background-color: rgb(51, 6, 0);
}

.hero button a{
	color: black;
	font-size: 1.1em;
	display: block;
	padding: 12px 30px;
}

.hero button:hover a{
	color: snow;
}

.weather > div{
	background-color: snow;
	margin-top: 15px;
	box-shadow: 2px 2px 8px rgba(0,0,0,.5);
	padding: 10px;
}

#icon-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

#cond-div{
	text-align: center;
}

#weathericon{
	margin: 0;
	width: 5em;
}

#condition{
	border-bottom: 1px solid black;
}

.release p, .join p{
	background-color: snow;
	text-align: center;
	padding: 10px;
	font-size: 1.2rem;
	box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}

.join img{
	display: block;
	width: 80px;
	margin: 0 auto;
}

.spotlight{
	background: snow;
	padding: 10px;
	margin: 10px;
	box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}



.event button{
	background-color: #762107;
	color: snow;
	border-radius: 50px;
	max-width: 250px;
	margin: 10px auto;
}

.event button:hover{
	background-color: rgb(51, 6, 0);
}

.event button a{
	text-decoration: none;
	color: snow;
	display: block;
	padding: 12px 30px;
}

.event button:hover a{
	text-decoration: none;
	color: snow;
}

main{
	padding: 2vw 2VW;
}

/*----------------------------------FOOTER------------------------------------*/

footer{
	text-align: center;
	padding: 3vw;
}

footer p{
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 15px;
}

.map{
	padding: 15px;
}

.footerLogo{
	width: 10vw;
}

/*----------------------------------DISCOVER PAGE------------------------------------*/

.discover-page{
	display: flex;
	flex-direction: column;
}

.discover{
	max-width: 90%;
	margin: 25px auto 10px auto;
}

.discover img{
	border-radius: 0 400px;
	max-width: 100%;
}


figcaption{
	text-align: right;
	margin: 15px 0;
}

		
.shown, #popup{
	background-color: #ACCE22;
	color: rgba(0,0,0,.9);
	font-size: 1.2rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding: 10px;
	max-width: 500px;
	position: fixed;
	bottom: 30px;	
}

.hidden{
	display: none;
}

/*--------------------------------------JOIN PAGE--------------------------------------*/

form{
	margin: 2rem auto;
	background-color: #ffded4;
}

form h2{
	text-align: center;
	padding: 15px;
}

form fieldset{
	margin: 1.5rem auto;
	padding: .8rem;
	border-radius: 10px;
	max-width: 80%;
}

form legend{
	padding: .2rem .8rem;
	border: 1.5px solid rgba(0,0,0,0.5);
}


form label.top, form div{
	display: block;
	padding-top: .5rem;
	margin: 10px auto;
	max-width: 90%;
}

form label.top input, form label.top textarea{
	display: block;
	padding: .75rem;
	width: 95%;
	border-radius: 5px;
}

form label.sbs{
	display: block;
}

form label.sbs input{
	margin: 5px;
	padding: .75rem;
}

form label.sbs span{
	background-color: #762107;
	color: snow;
	padding: 5px 15px;
	border-radius: 15px;
	margin-left: 30px;
}

form input.send{
	margin: 1.5rem 0 1.5rem 2.5rem;
	padding: .8rem;
	border-radius: 50px;
	background-color: #ACCE22;
}

form label.top input:required{
	border-left: red solid	 6px;
}

form label.top input:required:valid{
	border-left: green solid 6px;
}

/*--------------------------------------THANK YOU PAGE--------------------------------------*/

.thanks{
	max-width: 90%;
	margin: 10px auto;
	text-align: center;
}

.thanks p{
	margin-bottom: 50px;
}

.home{
	background-color: #ACCE22;
	border-radius: 50px;
	padding: 15px 50px;
	margin-bottom: 25px;
	font-size: 1.5rem;
}

.thanksTitle{
	font-size: 2.5rem;
	margin: 20px 0;
}


/*------------------------------------DIRECTORY PAGE------------------------------------*/

div.cards{margin: 15px 0;}

.buttons{
	display: flex;
	justify-content: center;
	column-gap: 10px;
	margin: 15px auto;
}

button.listBtn, button.cardBtn{
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px;
}

button.listBtn img, button.cardBtn img{
	display: block;
	width: 25px; /* width of container */
    height: 25px; /* height of container */
    object-fit: cover;
	margin: 5px auto;
}

.activeBtn{
	background-color: rgba(0,0,0,.4);
}

.bCard{
	max-width: 90%;
	margin: 20px auto;
	padding: 15px;
	box-shadow: 0px 2px 8px #888888;
}

.bCard h3{font-size: 1rem;}

.bCard p{padding: 5px 0; font-size: 1rem;}

.bCard a{word-wrap: break-word;}

img.logoImg{
	display: block;
	width: 200px; /* width of container */
    height: 120px; /* height of container */
    object-fit: cover;
	margin: 5px auto;
}

