@media (min-width: 48em) {
    nav{
        justify-content: space-around;
    }

    nav div {
        max-width: 20%;
    }

	nav a {
		font-size: 1.3rem;
	}

    img {
        max-width: 20%;
    }
}