@media (min-width: 48em) {
    body{
        max-width: 85%;
        margin: auto;
    }

    h1{
		font-size: 3em;
	}

  .personas{
		flex-direction: row;
	}

  .colors{
    flex-wrap: nowrap;
  }

}