* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: auto;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}


header{
	background-color: rgb(0, 0, 0);
	padding-top: 5px;
}


h1{
	margin-left: 40px;
}

.title{
	color: snow;
	margin: 20px auto;
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 85%;
	max-height: 60%;
	justify-content: space-around;
}

.title img{
	border-radius: 200px;
	background-color: snow;
}

nav {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}

nav div {
    flex: 1 1 100%;
	width: 100%;
    background-color: rgba(231, 231, 231, 0.698);
}

nav a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 1.3rem;	
}

.active {
	background-color: rgb(255, 255, 255);
}

nav div:hover {
    flex: 1 1 100%;
	width: 100%;
    background-color: rgba(255, 255, 255, 0.698);
}

h2 {
	text-align: center;
	margin: 50px;
}	

li{ 
	max-width: 80%;
	margin: 15px auto;
	list-style: none;
}

img{
	max-width: 150px;
}

p{
	max-width: 80%;
	margin: 20px auto;
}

.personas{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 25px;
}

.persona1, .persona2{
	padding: 15px;
}

.colors{
	max-width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-evenly;
	font-size: large;
	padding: 20px;
}

.color1{
	background-color: #762107;
	padding: 50px 20px;
	color: snow;
}

.color2{
	background-color: #fffafa;
	padding: 50px 20px;
}

.color3{
	background-color: #65A147;
	padding: 50px 20px;
}

.color4{
	background-color: #ACCE22;
	padding: 50px 20px;	
}

.color5{
	background-color: #A82E09;
	padding: 50px 20px;
	color: snow;
}

#marilza, #heleno{
	display: block;
	max-width: 100%;
	margin: -30px auto 30px auto;
}

footer{
	padding: 50px;
	text-align: center;
	font-size: large;
	color: snow;
	background-color: rgb(0, 0, 0);
}